.Shop--main {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.Shop--header {
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

/* Shop Components */

.ShopList--header {
  font-size: 24px;
}

.ShopList--main {
  border: 1px solid rgb(218, 165, 32);
  background-color: rgba(218, 165, 32, 0.2);
  margin: 1rem;
}

.ShopList--list {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem;
  border: 1px solid rgb(218, 112, 214);
  background-color: rgba(218, 112, 214, 0.2);
}

.ShopItem--item {
  background-color: lightgray;
  border-radius: 3px;
  padding: 0.2rem;
  margin: 0.3rem;
}

/* Shop Cart */

.MyCartList--main {
  border: 1px solid rgb(102, 51, 153);
  background-color: rgba(102, 51, 153, 0.2);
  margin: 1rem;
}

.MyCartList--header {
  font-size: 24px;
}

.MyCartList--list {
  display: flex;
  flex-wrap: wrap;
  margin: 0.2rem;
  border: 1px solid rgb(107, 142, 35);
  background-color: rgba(107, 142, 35, 0.3);
}

.CartItem--item {
  background-color: lightgray;
  border-radius: 3px;
  padding: 0.2rem;
  margin: 0.3rem;
}

/* Feature categories = Milchprodukte 🐄, Backwaren 🥐, Gemüse 🥕,Snacks , 
Getränke 🥤, WTF 💥, Fleisch 🍗, Teigwaren 🍞*/
