.Shop--main {
  border: 1px solid black;
  margin: 1rem;
}

.Shop--header {
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

/* Shop Components */

.ShopList--header {
  font-size: 24px;
}

.ShopList--main {
  border: 1px solid goldenrod;
  margin: 1rem;
}

.ShopList--list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
}

.ShopItem--item {
  background-color: lightgray;
  border-radius: 3px;
  padding: 0.2rem;
  margin: 0.3rem;
}

/* Shop Cart */

.MyCartList--main {
  border: 1px solid rebeccapurple;
  margin: 1rem;
}

.MyCartList--header {
  font-size: 24px;
}

.MyCartList--list {
  border: 1px solid olivedrab;
}

/* Feature categories = Milchprodukte , Backwaren , Gemüse ,Snacks , 
Getränke, WTF, Fleisch, Teigwaren */
